console/flows.json
[{"id":"ed6e444f.a03c08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b12d68.48bd928","type":"voice","z":"ed6e444f.a03c08","name":"","language":"1","x":110,"y":160,"wires":[["8c0e78e0.3de7a8"]]},{"id":"8c0e78e0.3de7a8","type":"generate-fact","z":"ed6e444f.a03c08","name":"voice-fact","nodetype":"Voice","recognition":false,"characteristic":true,"outputs":1,"rawdata":false,"x":260,"y":160,"wires":[["bba72b38.a8fff8"]]},{"id":"40eb3e15.5b3ac","type":"notifications","z":"ed6e444f.a03c08","name":"Listening","message":"Listening...!","x":600,"y":120,"wires":[["50e1b175.ed894"]]},{"id":"d907a409.5fb5d8","type":"data-publish","z":"ed6e444f.a03c08","name":"","key":"2866c2ed.d54ede_fbc6d1d3.9b6f","x":1010,"y":200,"wires":[]},{"id":"8690e5ae.664708","type":"notifications","z":"ed6e444f.a03c08","name":"Recognition Failure","message":"Recognition failure...","x":970,"y":120,"wires":[[]]},{"id":"1e26e03.396a52","type":"notifications","z":"ed6e444f.a03c08","name":"Recognition Success","message":"Recognition success!","x":640,"y":200,"wires":[["361cef0a.68d51"]]},{"id":"bba72b38.a8fff8","type":"rule-engine","z":"ed6e444f.a03c08","name":"","outputs":2,"rules":[{"l":"AND","items":[{"p":"payload.voice.intent","pt":"msg","o":"eq","v":"listening","vt":"str"}],"id":"i0"},{"l":"OR","items":[{"p":"payload.voice.entity.ttsResponse","pt":"msg","o":"eq","v":"go","vt":"str"},{"p":"payload.voice.entity.ttsResponse","pt":"msg","o":"eq","v":"find","vt":"str"}],"id":"i1"}],"logicalRules":["(node.propertyValues[1]  == \"listening\")","((node.propertyValues[2]  == \"go\") || (node.propertyValues[2]  == \"find\"))"],"properties":["","payload.voice.intent","payload.voice.entity.ttsResponse"],"changedStatus":[],"isValidRule":[true,true],"x":430,"y":160,"wires":[["40eb3e15.5b3ac"],["1e26e03.396a52"]]},{"id":"50e1b175.ed894","type":"function","z":"ed6e444f.a03c08","name":"Check a flag","func":"flow.set(\"recognitionFlag\", \"fail\");\nsetTimeout(() => {\n    if (flow.get(\"recognitionFlag\") === \"fail\") {\n        node.send(msg);\n    }\n}, 5000);","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["8690e5ae.664708"]]},{"id":"361cef0a.68d51","type":"function","z":"ed6e444f.a03c08","name":"Set a flag","func":"flow.set(\"recognitionFlag\", \"success\");\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":200,"wires":[["d907a409.5fb5d8"]]}]